.btn-violet {
  color: $white;
  background-color: $violet;
  border-color: $violet;
  &:focus,
  &:hover {
    color: $white;
    background-color: $btn-violet-hover;
    border-color: $btn-violet-hover;
  }
  &:focus {
    box-shadow: $btn-violet-shadow;
  }
}
